/* Mengimport font dari google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Membuat Color pallette menggunakan variabel css */
:root {
    --top-page-color_1: #5e4b56;
    --top-page-color_2: #a690a4;
    --home-section_1: #4077dc;
    --home-section_2: #c17ebb;
    --intro-section_1: #3f67b1;
    --intro-section_2: #e05cd5;
    --aside-section_1: #5082df;
    --border: #000000;
}

/* Membuat width dan height di masukkan dalam konten, padding, dan border */
* {
    box-sizing: border-box; 
}

/* Menggantikan isi font semua elemen text menjadi Roboto dari import google */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* Membuat dalam tag menjadi bagian dari layar device web digunakan untuk navigasi */
header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 50px;
    background-image: linear-gradient(to right, var(--top-page-color_1), var(--top-page-color_2));
    border-bottom: 3px solid var(--border);
}

/* Merapikan elemen-elemen pada navigasi */
nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/* Mengubah ukuran img pada elemen di navigasi*/
.top-section {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
    border-radius: 50px;
}

.title-blog {
    padding: 0 20px; /* Menambahkan Padding elemet dalam */
}

/* Class Untuk mengelompokkan kartu */
.card-group {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px 30px;
}

/* Membuat kartu untuk article tag konten */
.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border: 3px solid var(--border);
    padding: 20px;
    background: #4077dc;
    border-radius: 20%;
}

/* Menambahkan desain warna belakang web */
.blog-section {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        to right, 
        var(--home-section_1), 
        var(--home-section_2), 
        transparent
        );
    background-size: contain;
    background-repeat: repeat, no-repeat;
    background-position: right;
    border-bottom: 3px solid var(--border);
}

/* Menambahkan desain belakang untuk bagian introduksi diri sendiri */
.introduction-section {
    border-bottom: 3px solid var(--border);
    min-height: 100vh;
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--intro-section_1), var(--intro-section_2));
}

/* Menyusun elemen-elemen dalam grup intro */
.intro-section-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0 20px;
}

/* Membuat sebuah kartu konten article */
.intro-card {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    border: 3px solid var(--border);
    padding: 20px;
    width: 100%;
    background: #4077dc;
    border-radius: 10%;
}

/* Mengubah posisi pas foto */
.photo-intro {
    width: 200px;      
    height: 250px;
    flex-shrink: 0; 
    border: 3px solid var(--border);
    border-radius: 50%;
}

/* Mengubah ukuran img */
.photo-intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 50%; 
}

/* Membuat desain belakang untuk bagian konten aside */
.aside-call {   
    background-color: var(--aside-section_1);
    min-height: 20vh;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mengelompokkan dan merapikan posisi elemen dalam kontak */
.contact-group {
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    gap: 15px;               
}

/* Menyusun ikon kontak ke tengah section*/
.contact-icons {
    display: flex;
    flex-direction: row;      
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* Mengubah ukuran icon kontak */
.icons {
    width: 70px;
    height: 70px;
    object-fit: contain;
    display: block;
}

/* Membuat desain belakang untuk footer */
footer {
    background-color: var(--aside-section_1);
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .title-blog {
        padding: 0 40px;
    }

    /* Grid menjadi 2 kolom */
    .card-group {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 0 40px 30px;
    }

    /* Foto & kartu perkenalan berdampingan */
    .intro-section-group {
        flex-direction: row;
        gap: 50px;
        padding: 0 30px;
    }

    /* Mengubah pergerakan elemen menggunakan flex */
    .intro-card {
        width: auto;
        flex: 1;
    }

    /* Mengurangi jarak icon dengan yang lain */
    .contact-icons {
        gap: 20px;
    }

    /* Mengubah ukuran icon */
    .icons {
        width: 100px;
        height: 100px;
    }
}

/* Media query untuk desktop */
@media (min-width: 992px) {
    .title-blog {
        padding-left: 60px;
    }

    /* Penyusunan elemen menggunakan grid */
    .card-group {
        grid-template-columns: repeat(2, 340px);
        padding: 0 50px 30px;
    }

    /* Menambahkan padding ke kanan elemen  */
    .section-title-intro {
        padding-right: 200px;
    }

    /* Otomatis mengubah ukuran width ketika di kecilkan atau di besarkan layar web */
    .intro-section-group {
        width: auto;
        padding: 0;
    }

    /* Mengubah responsif web dari flex display menjadi non dan mengubah ukuran width */
    .intro-card {
        flex: none;
        width: 640px;
    }
}
